#homeTile{
	background: url("../images/bg.png") no-repeat 0 0;
	background-size: 100%;
	box-shadow: inset 30px 60px 120px #000;
	
	.parchment-container{
		position: relative;
		top: 100px;
		display:none;
		
		.tile-content{
			border-radius: 0px;
			
			opacity: 1;
			text-align: center;
			padding-top: 10px;
			margin: 0 auto;
			
			box-shadow: none;
			border: none;
			font-family: cursive;
			padding-top: 13px;
			font-size: 20px;
			text-shadow: 0px 1px 1px #4d4d4d;
			color: #222;
			
			&.tile-head{
				background: url(../images/parchment.png) -22px -18px rgba(0,0,0,0) no-repeat;
				background-size: 100% 700px;
				height: 90px;
			}
	
			&.tile-body{
				background: url(../images/parchment.png) -22px -108px rgba(0, 0, 0, 0) no-repeat;
				background-size: 100% 700px;
				height: 20px;
				padding: 20px 48px;
				
				.welcome-head{
					text-align: center;
					font-weight:bold;
					font-style:italic; 
				}
			
				.welcome-details{
					padding: 20px 0px;
					text-align: left;
				}
			}
	
			&.tile-foot{
				background: url(../images/parchment.png) -22px -480px rgba(0, 0, 0, 0) no-repeat;
				background-size: 100% 700px;
				height: 180px;
				
				.tile-foot-shadow{
					box-shadow: 50px -10px 40px 7px #000000;
					width: 90%;
					position: relative;
					left: -35px;
				}
			}
		}
	}

}
