<div>
	<div class="row">
		<div class="parchment-container large-9 large-centered columns">
			<div class="tile-head tile-content"></div>
			<div class="tile-body tile-content">
				<div class="welcome-head">Enter The Grimlands...</div>
				<div class="welcome-details">Welcome to {{name}},</div>
			</div>
			<div class="tile-foot tile-content">
				<div class="tile-foot-shadow"></div>
			</div>
		</div>
	</div>
</div>