@import "./../../../lib/bower_components/foundation-icon-fonts/foundation-icons.css";
@import "./../../../lib/bower_components/bower-foundation/css/foundation.min.css";
@import "./../../../lib/bower_components/bower-foundation/css/normalize.css";
@import "./app.mixins.style.less";

header{
	float: right;
	z-index: 1;
	position: relative;
	
	.map{
		background: url(../images/compass.png) 0 0 no-repeat;
		background-size: 100%;
		z-index: 2;
		float: right;
		position:static;
		margin: 30px 40px;
		
	    -moz-transform:rotate(0deg);
	    /* Safari and Chrome */
	    -webkit-transform:rotate(0deg);
	    /* Opera */
	    -o-transform:rotate(0deg);
	    /* IE9 */
	    -ms-transform:rotate(0deg);
		transform:rotate(0deg);
		
		padding: 30px;
		top: 0px;
		left: 0px;
		opacity: .4;
		
		.animation(rotate-close-section, .5s);
		
		.map-arrow{
			width: 0;
			height: 0;
		}
	}
	.map:hover{
		cursor: pointer;
		.animation(rotate-open-section, .5s);
	}
}

footer{
	position: fixed;
	bottom: 0px;
	margin-left: 10px;
	z-index: 1;
	color: whitesmoke;
	opacity: 0.2;
}

#app{
	position: fixed;
	background-color: black;
	color: white;
	top: 0;
	width: 100%;
	height: 100%;
	
	.content-container,
	.content{
		width:100%;
		height: 100%;
	}
}

.hide,
#app > .ember-view{
	display:none;
}


.rotate-open-mixin-frames () {
	0% {
		padding: 30px;
		top: 0px;
		left: 0px;
		opacity: .4;
	    -moz-transform:rotate(0deg);
	    /* Safari and Chrome */
	    -webkit-transform:rotate(0deg);
	    /* Opera */
	    -o-transform:rotate(0deg);
	    /* IE9 */
	    -ms-transform:rotate(0deg);
		transform:rotate(0deg);
	}
	40% {
	    -moz-transform:rotate(35deg);
	    /* Safari and Chrome */
	    -webkit-transform:rotate(35deg);
	    /* Opera */
	    -o-transform:rotate(35deg);
	    /* IE9 */
	    -ms-transform:rotate(35deg);
		transform:rotate(35deg);
	}
	100% {
		padding: 40px;
	    -moz-transform:rotate(0deg);
	    /* Safari and Chrome */
	    -webkit-transform:rotate(0deg);
	    /* Opera */
	    -o-transform:rotate(0deg);
	    /* IE9 */
	    -ms-transform:rotate(0deg);
		transform:rotate(0deg);
		top: -10px;
		left: 10px;
		opacity: .9;
	}
}

.rotate-close-mixin-frames () {
	from {
		padding: 40px;
		top: -10px;
		left: 10px;
		opacity: .9;
	}
	to {
		padding: 30px;
		top: 0px;
		left: 0px;
		opacity: .6;
	}
}

@-webkit-keyframes rotate-open-section {.rotate-open-mixin-frames;} /* Chrome */
@-moz-keyframes rotate-open-section {.rotate-open-mixin-frames;} /* Firefox */
@-ms-keyframes rotate-open-section {.rotate-open-mixin-frames;} /* Safari and Chrome */
@-o-keyframes rotate-open-section {.rotate-open-mixin-frames;} /* Opera */
@keyframes rotate-open-section {.rotate-open-mixin-frames;}

@-webkit-keyframes rotate-close-section {.rotate-close-mixin-frames;} /* Chrome */
@-moz-keyframes rotate-close-section {.rotate-close-mixin-frames;} /* Firefox */
@-ms-keyframes rotate-close-section {.rotate-close-mixin-frames;} /* Safari and Chrome */
@-o-keyframes rotate-close-section {.rotate-close-mixin-frames;} /* Opera */
@keyframes rotate-close-section {.rotate-close-mixin-frames;}


/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}