html{
	min-height:100%;
	position:relative;
}

body{
	margin: 0px;
}

#overlay,#loading{
	display:none;
	position: fixed;
	z-index: 10;
	top:0;
	margin: auto 0;
	background: #000;
	color:#FFF;
	height:100%;
	width:100%;
}