html{
	min-height:100%;
	position:relative;
}

body{
	margin: 0px;
}

#overlay{
	display:none;
	position: fixed;
	z-index: 10;
	top: 0;
	margin: auto 0;
	background: #000;
	color: #FFF;
	height: 100%;
	width: 100%;
	background-size: 115%;
	color: whitesmoke;
	opacity: 0.2;
}

#loading{
	display:none;
	position: fixed;
	z-index: 10;
	top:0;
	margin: auto 0;
	background: #000;
	color:#FFF;
	height:100%;
	width:100%;
}

.arrow-down {
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 40px solid rgba(155,0,0,0.7);
	position: absolute;
	top: 20px;
	left: 62px;
}

.arrow-up {
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 40px solid rgba(155,0,0,0.7);
	position: absolute;
	top: 65px;
	left: 62px;
}

.arrow-right {
	width: 0;
	height: 0;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-left: 40px solid rgba(155,0,0,0.7);
	position: absolute;
	top: 55px;
	left: 70px;
}

.arrow-left {
	width: 0;
	height: 0;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-right: 40px solid rgba(155,0,0,0.7);
	position: absolute;
	top: 55px;
	left: 30px;
}