<?php

abstract class ${ObjectName}Controller extends BaseController {
	static protected $_target = "${ObjectName}";
	static protected $_key = "${listingKey}";

}

AJAX::registerGetMethods("${ObjectName}", array("Get", "Search", "Schema"));
AJAX::registerPostMethods("${ObjectName}", array("Create", "Update", "Delete"));