<?php

abstract class ${ObjectName}Controller extends BaseController{
	static protected $_target = "${ObjectName}";

}

AJAX::registerGetMethods("${ObjectName}", array("Get", "Search", "Schema"));
AJAX::registerPostMethods("${ObjectName}", array("Create", "Update", "Delete"));